# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.kursach.iml
# Datasource local storage ignored files
/../../../../../../../../:\Programming\Git\MyGames\kursach\.idea\.idea.kursach\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
